/* nav */
.container.pad {
  padding: 80px 0;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background: #BBCED1;
  padding: 0;
  padding-top: 6%;
}

.navbar-brand img {
  width: 20px;
  height: 20px;
}

.navbar-nav li {
  padding: 0 30px;
}

.login {
  border: none !important;
  color: black !important;
  text-decoration: none;
}

.signup {
  border: none !important;
  color: black !important;
  background: #C19A6F !important;
  text-decoration: none;

}

/* banner section*/
#banner {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  background: #BBCED1;
  /* background-image: linear-gradient(to bottom, #BBCED1, #E0EEFE); */
}

.p-banner {
  margin-top: 4%;
}

.banner-section {
  background: #BBCED1 !important;
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;

}

.btn-banner {
  margin-top: 12%;
}

/* about */

.about-section {
  background: #fff !important;
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}

#about {
  background: #fff !important;
}

.productivity {
  background: #F0D0AE;
  border-radius: 30px;
  padding: 15px;
}

.about {
  margin-bottom: 10%;
}

.img-pad {
  margin-bottom: 10%;
}

.explore {
  text-decoration: none;
  color: black;
}

.btn-learnmore {
  border: 1px solid #55848D;
  color: #55848D;
  background: #FAFAFA;
}

/* services*/

#services {
  background: #fff !important;
}

.title {
  text-align: center;
}

.service-section {
  margin: 20% 0;
  align-items: center;
  background: #fff !important;
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}

.second-img {
  margin-bottom: 6%;
}

#services h3 {
  color: #41717d;
}

/* icon section*/
.icon-section {
  background: #BBCED1 !important;
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}

#icon {
  background: #BBCED1;
}

.icon-text {
  margin-bottom: 6%;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* testimonial*/

.testimonial-section {
  background: #fff !important;
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}

#testimonial {
  background: #fff !important;
}

.testimonial {
  margin-bottom: 4%;
}

.testimonial-img {
  margin-bottom: 20%;
}

.contact {
  align-items: center;
}

.btn-brown {
  background: #C19A6F;
}

/*footer*/
#footer {
  background: #BBCED1;
  height: 100%;
}