body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavBar start */

.navbar-style {
  background-color: #C19A6F !important;
}

.navbar-brand {
  font-weight: 600;
}

/* NavBar end */


/* LoginForm start */

.container.signin-container {
  margin-top: 4%;
}

.signin-card {
  max-width: 600px;
  margin: auto;
  border-radius: 0;
  max-width: 700px !important;

}

h2.headline {
  margin-bottom: -5px;
  margin-top: 20px;
}

p.headline {
  margin-bottom: 20px;
  font-size: 13px;
}

.pin-reset {
  font-size: 11px;
}

form.signin-form {
  max-width: 350px;
  margin: auto;
}



button.signin-btn {
  color: white;
  background: #C19A6F;
  width: 100%;
  margin-bottom: 1.2rem;
}

button.google-log {
  width: 100%;
  margin-bottom: 1.2rem;
  border: 1px solid gray;
}


a.login-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
  color: #346f5c;
}

span.login-word {
  color: #0d6efd;
}

a {
  text-decoration: none;
}

.accoumt-question {
  margin-top: 20%;
}



/* LoginForm end */

/* register start */

.container.signin-container.reg {
  margin-top: 4%;
}

.signin-card.register {
  padding: 20px 0px 10px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  max-width: 500px;
  margin: auto;
}

.headline.create-acct {
  margin-bottom: 20px;
  margin-left: 11%;
}

.form-check.form-agree {
  margin-top: -15px;
  margin-bottom: 15px;
}

.agreement {
  font-size: 11px;
  vertical-align: middle;
}

/* register end */